:root {
  --primary-color: #f1f1f1;
  --secondary-color: #f5e1da;
  --third-color: #40a798;
  --fourth-color: #476268;
}

body {
  background: var(--primary-color);
  margin-top: 80px;
  color: var(--fourth-color);
  font-family: "Overpass", sans-serif;
  text-align: center;
  font-size: 18px;
}

.square {
  background: var(--secondary-color);
}

.line {
  background: var(--fourth-color);
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 80px;
}

.card {
  background: var(--secondary-color);
  color: var(--fourth-color);
  font-size: 15px;
}

img {
  height: 200px;
  width: 200px;
}

.button {
  background-color: var(--third-color);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--fourth-color);
}

i {
  color: var(--primary-color);
}

footer {
  font-family: monospace;
  font-size: 12px;
}
