:root {
  --primary-color: #f1f1f1;
  --secondary-color: #f5e1da;
  --third-color: #40a798;
  --fourth-color: #476268;
}

body {
  background: var(--primary-color);
  margin-top: 80px;
}

.hero {
  font-family: "Overpass", sans-serif;
  text-align: center;
  background: var(--primary-color);
  margin: 0px;
  color: var(--fourth-color);
  font-size: 18px;
}

.square {
  background: var(--secondary-color);
}

h1 {
  text-align: center;
  font-size: 80px;
}

.card {
  background: var(--secondary-color);
}

img {
  height: 200px;
  width: 200px;
}
